<<<<<<< HEAD
@use "../core/variables" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: vars.$colorYB;
  color: white;
  font-family: vars.$tipo1;
 
}

body {
  height: 100vh;
}

=======
@use "../core/variables" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: vars.$colorYB;
  color: white;
  font-family: vars.$tipo1;
}

body {
  height: 100vh;
}
>>>>>>> 203e48dddbd04770b1d7188d4ef7a79f3af1549f
