@use "../core/variables" as vars;

.data_main {
  margin-top: 8rem;
  margin-inline: 2rem;
  padding: 3rem;
  margin-block: auto;
  line-height: 1.9;
  border: solid 3px vars.$colorB1;
}

// .data_head {
//   display: flex;
//   justify-content: space-between;
// }

.data_title {
  font-family: vars.$tipo2;
  color: vars.$colorY2;
}

.btnCollapsedData {
  width: 50px;
  height: 50px;
  background-color: vars.$colorY2;
  border-radius: 50%;
  border: none;
}

.fa-chevron-down {
  width: 30px;
  height: 30px;
  color: white;
}

// @media (width > 1280px) {
//   .data__main {
//     margin-top: 8rem;
//     // min-height: 100vh;
//     display: grid;
//     justify-items: center;
//     align-items: center;
//     grid-template-columns: 1fr 1fr;
//   }
// }
