@use "../core/variables" as vars;

.formAdaCurri {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formAda {
  box-sizing: border-box;
  border-radius: 5px;
  height: 38px;
  padding-left: 7px;
}

#labelPhoto {
  width: 200px;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  background: vars.$colorB1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#profilePhoto {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

@media (width > 1280px) {
  // .data__main {
  //   // min-height: 100vh;
  //   display: grid;
  //   justify-items: center;
  //   align-items: center;
  //   grid-template-columns: 1fr 1fr;
  // }

  .form_container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
  }

  .container__preview {
    margin-block: 20px;
    height: 90%;
    max-width: 600px;
    margin-inline: auto;
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    padding: 50px;
    background: linear-gradient(45deg, #c2d0d3 0%, #dce8ec 100%);
    border-radius: 15px;
    border: solid 3px vars.$colorB1;
  }
}
