@use '../core/variables' as vars; 

.form_container {
    margin: 20px;
    padding: 30px;
    display: inline-block;
    border: solid 3px vars.$colorB1;
}
.form_title{
    font-family: vars.$tipo2;
    color: #A68129;
}
.formAdaCurri {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}