@use "../core/variables" as vars;

// .design_container {
//     margin-top: 70px;
//     margin-bottom: 20px;
//     margin-inline: 20px;
//     padding: 30px;
//     max-width: 500px;
//     margin-inline: auto;
//     border: solid 3px vars.$colorB1;
//     line-height: 2.5;
// }

//Contenedor del contenido diseño
.design_curri {
  display: flex;
  justify-content: space-between;
  margin-block: 25px;
}

// Conjuntos de cuadrados
.colors_curri {
  display: flex;
  flex-direction: row;
}

// Cuadradito individual
.color_curri {
  height: 30px;
  width: 15px;
  background-color: white;
}

//Pintado de cada cuadrado
.color_B1 {background-color: vars.$colorB1;}
.color_B2 {background-color: vars.$colorB2;}
.color_Y1 {background-color: vars.$colorY1;}
.color_Y2 {background-color: vars.$colorY2;}
.color_black {background-color: black;}
.color_white {background-color: white;}
.color_pink0 {background-color: #E1999F;}
.color_pink1 {background-color: #663635;}
.color_pink2 {background-color: #DEB3AD;}
.color_beige0{background-color: #2B4257;}
.color_beige1{background-color: #88A9C3;}
.color_beige2{background-color: #091235;}

//Media provisional
@media (max-width: 400px) {
  .design_curri {
    flex-direction: column;
  }
}

//Para accionar temitas
.mode_0:hover, .mode_1:hover, .mode_2:hover {
  color: vars.$colorB1;
  letter-spacing: 0.25px;
  font-weight: bold;
  transition: 0.5s;
}

.mode_0_on {color: vars.$colorY2;}
.mode_0B_on {background-color: vars.$colorY2;}

.mode_1_on {color: #88A9C3;}
.mode_1B_on {background-color: #88A9C3;}
.mode_1BB_on {background-color: #091235;}

.mode_2_on {color: #663635;}
.mode_2B_on {background-color: #663635;}
.mode_2BB_on {background-color: #DEB3AD;}