@use "../core/variables" as vars;

.form_container {
  margin: 20px;
  padding: 30px;
  max-width: 500px;
  margin-inline: auto;
  border: solid 3px vars.$colorB1;
}

.form_title {
  font-family: vars.$tipo2;
  color: vars.$colorY2;
}

.formAdaCurri {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formAda {
  box-sizing: border-box;
  border-radius: 5px;
  height: 38px;
  padding-left: 7px;
}

#labelPhoto {
  width: 200px;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  background: vars.$colorB1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#profilePhoto {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.target__preview {
  margin: 20px;
  padding: 30px;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  background-color: white;
  color: olive;
  border: solid 3px dodgerblue;
}

.dataSheet__preview {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 

.preview-photo {
  width: 90%;
  height: 295px;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form_socialmedia {
  width: 295px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.form_socialmedia_ancla {
  font-size: 17px;
  color: vars.$colorB2;
}

.svg-inline--fa{
  height: 2em;
}

@media (width > 1280px){

.container__preview {
  margin-block: 20px;
  height: 80vh;
  max-width: 500px;
  margin-inline: auto;
  background: linear-gradient(45deg, #c2d0d3 0%, #dce8ec 100%);
  border: solid 3px vars.$colorB1;
}

.target__preview {
  margin: 50px;
}
}


