@use "../core/variables" as vars;

.form_container {
  margin: 20px;
  padding: 30px;
  max-width: 500px;
  margin-inline: auto;
  border: solid 3px vars.$colorB1;
}
.form_title {
  font-family: vars.$tipo2;
  color: vars.$colorY2;
}
.formAdaCurri {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__preview {
  margin-block: 20px;
  height: 80vh;
  padding: 30px;
  max-width: 500px;
  margin-inline: auto;
  // display: inline-block;
  background: linear-gradient(45deg, #c2d0d3 0%, #dce8ec 100%);
  border: solid 3px vars.$colorB1;
}

.target__preview {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  color: olive;
}
