.form_container {
    margin: 20px;
    padding: 30px;
    display: inline-block;
    border: solid 3px #6E92E6;
}
.form_title{
    color: #A68129;
}
.formAdaCurri {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}