@use "../core/variables" as vars;

.super-hero {
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  min-height: 100vh;
}

//logo//
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
  animation: shrinkIn 1.2s ease forwards;
}

.logo_landing,
.letter_logo {
  max-height: 6rem;
  height: auto;
}
/*animación del logo*/
@keyframes shrinkIn {
  0% {
    transform: scale(1.5); /* Empieza más grande */
    opacity: 0;
  }
  50% {
    transform: scale(0.9); /* Se reduce un poquito más de su tamaño normal */
    opacity: 0.8;
  }
  100% {
    transform: scale(1); /* Queda en su tamaño normal */
    opacity: 1;
  }
}

//girl//
.imagen-container {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}

.imag-girl {
  width: 100%;
}
//text//
.content_curri {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.makeCV {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: vars.$colorY1;
  font-family: vars.$tipo2;
}

.promo {
  font-size: 1.5rem;
  color: white;
}
//button//
.start_tbn {
  padding: 0.75rem 1.5rem;
  background-color: vars.$colorB2;
  color: vars.$colorYB;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 4rem;
  margin-top: 4rem;
  animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Crece un poquito */
  }
  100% {
    transform: scale(1);
  }
}
.start_button:hover {
  background-color: white;
}

@media (width > 1280px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1rem;
    align-items: center;
  }
  .logo-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-left: 50px;
  }

  .imagen-container {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    width: 75%;
    margin-top: -8.5rem;
    /* margin-bottom: 35px; */
    margin-right: 70px;
  }
  /* contenedor de texto y botón */
  .content_curri {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-self: center;
  }

  .makeCV {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #e6a100;
  }

  .promo {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 2rem;
  }

  .start_tbn {
    padding: 0.75rem 1.5rem;
    background-color: #6e92e6;
    color: #282e3c;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 400px;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 1.5rem;
  }
  .enlace-btn {
    color: white;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Crece un poquito */
    }
    100% {
      transform: scale(1);
    }
  }

  .start_tbn:hover {
    background-color: white;
  }
  .enlace-btn:hover {
    color: #282e3c;
  }
}
