@use "../core/variables" as vars;

.page__footer {
  padding: 1.5rem;
  width: 100%;
  background-color: vars.$colorB2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 1rem;
  border-top: solid 0.5rem vars.$colorY2;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // margin-bottom: 0;
  // width: 100%;
  // z-index: 0;
  margin-top: auto;
}

.footer_social_media {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

@media (width > 1280px) {
  .page__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: solid 1rem vars.$colorY2;
    padding: 2rem;
  }
  .footer_brand {
    font-size: 1rem;
  }
}
