@use "../core/variables" as vars;

.page__footer {
  padding: 1.5rem;
<<<<<<< HEAD
  margin: 0rem;
  width: 100vw; 
=======
  width: 100%;
>>>>>>> 203e48dddbd04770b1d7188d4ef7a79f3af1549f
  background-color: vars.$colorB2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 1rem;
  border-top: solid 0.5rem vars.$colorY2;
}

.footer_social_media {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

@media all and (min-width: 768px) {
  .page__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: solid 1rem vars.$colorY2;
    padding: 2rem;
  }
  .footer_brand {
    font-size: 1rem;
  }
}
