@use "../core/variables" as vars;

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo_header {
  max-height: 3rem;
}

.brand_header {
  max-height: 3rem;
}

.hamburguer_header {
  max-height: 3rem;
}

.fas {
  max-height: 0.5rem;
}
.nav_header {
  list-style: none;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav_collapsed {
  display: none;
}

@media (width > 1280px) {
  .hamburguer_header {
    display: none;
  }
  .nav_header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }
}
