@use "../core/variables" as vars;

.page__header {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  // width: 100%;
}

.logo_header {
  max-height: 3rem;
}

.brand_header {
  max-height: 3rem;
}
.nav_header {
  list-style: none;
  text-decoration: none;
  color: white;
}

.collapsed {
  display: none;
}
 