.page__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}

.logo_header {
  max-height: 3rem;
}

.brand_header {
  max-height: 3rem;
}
.nav_header {
  list-style: none;
}
.header_link:link {
  text-decoration: none;
}
