<footer class="page__footer js-footer">
  <small class="footer_social_media">
    <a href="https://facebook.com" target="_blank"
      ><img src="/images/rrss/FB.png" alt="facebook"
    /></a>
    <a href="https://instagram.com/" target="_blank">
      <img src="/images/rrss/IG.png" alt="instagram"
    /></a>
    <a href="https://twitter.com" target="_blank"
      ><img src="/images/rrss/Twitter.png" alt="twitter"
    /></a>
    <a href="https://pinterest.com" target="_blank"
      ><img src="/images/rrss/Pinterest.png" alt="pinterest"
    /></a>
    <a href="https://tiktok.com/" target="_blank"
      ><img src="/images/rrss/TikTok.png" alt="tiktok"
    /></a>
    <a href="https://whatsapp.com/" target="_blank"
      ><img src="/images/rrss/WhatsApp.png" alt="whatsapp"
    /></a>
    <a href="https://youtube.com/" target="_blank"
      ><img src="/images/rrss/YT.png" alt="youtube"
    /></a>
  </small>
  <small class="footer_brand"> &copy; &#128521; Adacurri, 2025. </small>
</footer>
