<section class="share-sect js_dataSection collapsed">
  <button class="js-createCardBtn createCardBtn">CREA TU CV</button>

  <section class="share-sect js_shareSection">
    <!-- <h3 class="card-created">La tarjeta ha sido creada:</h3> -->
    <!-- <a
      href="https://patri-gl.github.io/pw-project-Promo-53-Module-2-Team-1/card.html?id=${data.infoID}"
      >https://patri-gl.github.io/pw-project-Promo-53-Module-2-Team-1/card.html?id=${data.infoID}</a
    >
    <a class="share-btn" href="https://x.com/?lang=es"
      ><i class="fa-brands fa-twitter" style="color: #ffffff"></i>Compartir en
      twitter</a
    > -->
  </section>
</section>
