<div class="form_container">
  <h2 class="form_title">Completa tus datos</h2>

  <form class="formAdaCurri">
    <label for="name">Nombre</label>
    <input type="text" id="name" class="formAda" placeholder="Ej. Selene" />

    <label for="lastname">Apellido(s)</label>
    <input
      type="text"
      id="lastname"
      class="formAda"
      placeholder="Ej. Luna Lara"
    />

    <span>Imagen de perfil</span>
    <label id="labelPhoto" for="profilePhoto">Añadir imagen</label>
    <input type="file" id="profilePhoto" class="formAda" name="image" />

    <label for="occupation">Ocupación</label>
    <input
      type="text"
      id="occupation"
      class="formAda"
      placeholder="Ej. Front-end Junior"
    />

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="formAda"
      placeholder="Ej. seluna@gmail.com"
      required
    />

    <label for="phone">Teléfono</label>
    <input
      type="tel"
      id="phone"
      class="formAda"
      placeholder="Ej. 885-55-85-88"
    />

    <label for="linksocial">LinkedIn</label>
    <input
      type="text"
      id="linksocial"
      class="formAda"
      placeholder="Ej. linkedin.com/in/selene-luna"
    />

    <label for="gitsocial">GitHub</label>
    <input
      type="text"
      id="gitsocial"
      class="formAda"
      placeholder="Ej. github.com/Seluna-92"
    />

    <label for="moreAbout">Más acerca de mí</label>
    <textarea
      name="moreAbout"
      id="moreAbout"
      class="js-moreAbout"
      rows="10"
    ></textarea>

    <button class="js-reateCardBtn">CREA TU CV</button>
    
  </form>
</div>

<div class="container__preview">
  <section class="target__preview">
    <article class="dataSheet__preview">
    <h2 class="js-preview_name">Nombre</h2>
    <h2 class="js-preview_lastname">Apellido</h2>
    <h3 class="js-preview_occupation">Ocupación</h3>
  </article>
    <div class="preview-photo js-preview_photoProfile"></div>

    <div class="form_socialmedia">
      <a
        class="form_socialmedia_ancla js-preview_email"
        href=""
        target="_blank"
      >
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a class="form_socialmedia_ancla js-preview_phone" href="">
        <i class="fa-solid fa-mobile-screen"></i>
      </a>
      <a
        class="form_socialmedia_ancla js-preview_linksocial"
        href=""
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        class="form_socialmedia_ancla js-preview_gitsocial"
        href=""
        target="_blank"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <p class="js-preview_moreAbout"></p>
  </section>
</div>
