<!-- <div class="design_container">
    <h2 class="form_title">Elige tu diseño</h2> -->

<div class="design_curri">
  <div class="mode_curri">
    <div class="colors_curri">
      <div class="color_curri color_B1"></div>
      <div class="color_curri color_B2"></div>
      <div class="color_curri color_Y1"></div>
      <div class="color_curri color_Y2"></div>
    </div>
    <p>AdaCurri</p>
  </div>
  <div class="mode_curri">
    <div class="colors_curri">
      <div class="color_curri color_white"></div>
      <div class="color_curri color_Y1"></div>
      <div class="color_curri color_Y2"></div>
      <div class="color_curri color_black"></div>
    </div>
    <p>Light</p>
  </div>
  <div class="mode_curri">
    <div class="colors_curri">
      <div class="color_curri color_black"></div>
      <div class="color_curri color_B2"></div>
      <div class="color_curri color_B1"></div>
      <div class="color_curri color_white"></div>
    </div>
    <p>Dark</p>
  </div>
</div>

<!-- </div> -->
