<div class="form_container">
  <h2 class="form_title">Completa tus datos</h2>
  
  <form class="formAdaCurri">
    <label for="name">Nombre</label>
    <input type="text" id="name" placeholder="Ej. Selene" />

    <label for="lastname">Apellido(s)</label>
    <input
      type="text"
      id="lastname"
      placeholder="Ej. Luna Lara"
    />

    <label for="occupation">Ocupación</label>
    <input
      type="text"
      id="occupation"
      placeholder="Ej. Front-end Junior"
    />

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Ej. seluna@gmail.com"
      required
    />

    <label for="phone">Teléfono</label>
    <input
      type="tel"
      id="phone"
      placeholder="Ej. 885-55-85-88"
    />

    <label for="linksocial">LinkedIn</label>
    <input
      type="text"
      id="linksocial"
      placeholder="EJ. linkedn.com/in/selene-luna"
    />

    <!-- <label for="attachments">Adjuntar archivo</label>
    <input
      type="file"
      id="attachments"
      class="js-attachments"
      placeholder="Adjuntar archivo"
    /> -->

    <label for="profilePhoto">Selecciona una imagen de perfil</label>
    <input
      type="file"
      id="profilePhoto"
      name="image"
      accept="image/*"
    />

    <label for="moreAbout">Más acerca de mí</label>
    <textarea name="moreAbout" id="moreAbout" class="js-moreAbout" rows="10"></textarea>

    <button class="js-reateCardBtn">CREA TU CV</button>
  </form>
</div>

<div class="container__preview">
  <section class="target__preview">
    <h2 class="js-preview_name"></h2>
    <h2 class="js-preview_lastname">Apellido</h2>
    <h3 class="js-preview_occupation">Ocupación</h3>
    <h3 class="js-preview_email">Email</h3>
    <h3 class="js-preview_phone">Teléfono</h3>
    <h3 class="js-preview_linksocial">LinkedIn</h3>
    <p class="js-preview_moreAbout"></p>
    <img class="js-preview_photoProfile" alt="Foto de perfil" />
  </section>

</div>
