<!-- <div class="design_container">
    <h2 class="form_title">Elige tu diseño</h2> -->

<div class="design_curri js_dataSection collapsed">
  <div class="mode_curri mode_0">
    <div class="colors_curri">
      <div class="color_curri color_B1"></div>
      <div class="color_curri color_B2"></div>
      <div class="color_curri color_Y1"></div>
      <div class="color_curri color_Y2"></div>
    </div>
    <p>AdaCurri</p>
  </div>
  <div class="mode_curri mode_1">
    <div class="colors_curri ">
      <div class="color_curri color_white"></div>
      <div class="color_curri color_beige1"></div>
      <div class="color_curri color_beige2"></div>
      <div class="color_curri color_black"></div>
    </div>
    <p>Natural</p>
  </div>
  <div class="mode_curri mode_2">
    <div class="colors_curri">
      <div class="color_curri color_white"></div>
      <div class="color_curri color_pink1"></div>
      <div class="color_curri color_pink2"></div>
      <div class="color_curri color_black"></div>
    </div>
    <p>Chrissy</p>
  </div>
</div>

<!-- </div> -->
