<div class="form_container">
    <h2 class="form_title">RELLENA</h2>
<form class="formAdaCurri" method="" enctype="multipart/form-data">

<label for="photoInput">Selecciona una imagen de perfil</label>
<input type="file" class="photoInput" name="image" accept="image/*" >
<button class="photoBtn">Añadir Imagen</button>

<label for="nameInput">Nombre</label>
<input type="text" class="nameInput" placeholder="Ej. Selene">

<label for="lastnameInput">Apellido(s)</label>
<input type="text" class="lastnameInput" placeholder="Ej. Luna García">

<label for="occupationInput">Ocupación/Profesión</label> 
<input type="text" class="occupationInput" placeholder="Ej. Front-end Junior">

<label for="emailInput">Email</label>
<input type="email" class="emailInput" placeholder="Ej. seluna@gmail.com" required>

<label for="phoneInput">Teléfono</label>
<input type="tel" class="phoneInput" placeholder="Ej. 885-55-85-88">

<label for="linkInput">LinkedIn/Contacto</label>
<input type="text" class="linkInput" placeholder="EJ. linkedn.com/in/selene-luna">

<label for="attachmentsInput">Adjuntar archivo</label>
<input type="file" class="attachmentsInput" placeholder="Adjuntar archivo">

<label for="moreAboutInput">Más acerca de mí</label>
<input type="text" class="moreAboutInput">

<button class="createCardBtn">CREAR TARJETA</button>

</form>
</div>