<header class="page__header">
  <section class="logo_section">
    <img class="logo_header" src="./images/adacurri_min.png" alt="Adacurri" />
    <img class="brand_header" src="./images/adacurri2_min.png" alt="Adacurri" />
  </section>
  <nav>
    <ul class="nav_header">
      <!-- <li class="header_link"><a href="Contact.html">Contact Us</a></li>
        <li class="header_link"><a href="About.html">About Us</a></li> -->
      <li class="header_link"><a href="data.html">Your CV</a></li>
      <li class="header_link"><a href="index.html">Homepage</a></li>
    </ul>
  </nav>
</header>
