<header class="page__header">
  <section class="logo_section">
    <img class="logo_header" src="./images/adacurri_min.png" alt="Adacurri" />
    <img class="brand_header" src="./images/adacurri2_min.png" alt="Adacurri" />
  </section>
  <nav class="nav_container">
    <a class="hamburguer_header" href="#">&#x2630;</a>
    <ul class="nav_header nav_collapsed">
      <li>
        <a href="index.html"> <i class="fas fa-home"></i>Inicio</a>
      </li>
      <li>
        <a href="data.html"> <i class="fas fa-file"></i>Crea tu CV</a>
      </li>
    </ul>
  </nav>
</header>
