<header class="page__header">
  <section class="logo_section">
    <img class="logo_header" src="./images/adacurri_min.png" alt="Adacurri" />
    <img class="brand_header" src="./images/adacurri2_min.png" alt="Adacurri" />
  </section>
  <nav class="nav_container">
    <ul class="nav_header">
      <li><a href="index.html">Homepage</a></li>
      <li><a href="data.html">Create your CV</a></li>
       <li><a href="contact.html">Contact Us</a></li>
        <li><a href="aboutus.html">About Us</a></li>
          
    </ul>
  </nav>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
</header>
