<div class="container__preview js-containerPreview">
  <section class="target__preview">
    <div class="decoration"></div>
    <article class="dataSheet__preview">
      <h2 class="js-preview_name">Nombre</h2>
      <h2 class="js-preview_lastname">Apellido</h2>
      <h3 class="js-preview_occupation">Ocupación</h3>
    </article>
    <div class="preview-photo js-preview_photoProfile"></div>

    <div class="form_socialmedia">
      <a
        class="js-emailPreview form_socialmedia_ancla js-preview_email"
        href="#"
        target="_blank"
      >
        <i id="fa_icon" class="fa-solid fa-envelope"></i>
      </a>
      <a
        class="js-whatsappPreview form_socialmedia_ancla js-preview_phone"
        href="#"
        target="_blank"
      >
        <i id="fa_icon" class="fa-brands fa-whatsapp"></i>
      </a>
      <a
        class="form_socialmedia_ancla js-preview_linksocial"
        href="#"
        target="_blank"
      >
        <i id="fa_icon" class="fa-brands fa-linkedin"></i>
      </a>
      <a
        class="form_socialmedia_ancla js-preview_gitsocial"
        href="#"
        target="_blank"
      >
        <i id="fa_icon" class="fa-brands fa-github"></i>
      </a>
    </div>
  </section>
  <button class="js-refreshCardBtn">Reset</button>
</div>
